@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 257 60% 98%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 258 84% 88%;
    --primary-foreground: 260 20% 15%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 240 6% 10%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;
    --accent: 240 5% 96%;
    --accent-foreground: 240 6% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 240 6% 10%;
    --chart-1: 258 84% 88%;
    --chart-2: 125 45% 78%;
    --chart-3: 0 84% 80%;
    --chart-4: 38 96% 79%;
    --chart-5: 200 90% 75%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 4% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 258 84% 88%;
    --primary-foreground: 260 20% 15%;
    --secondary: 240 4% 12%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 12%;
    --muted-foreground: 240 4% 65%;
    --accent: 240 4% 12%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 15%;
    --input: 240 4% 15%;
    --ring: 258 84% 88%;
    --chart-1: 258 84% 88%;
    --chart-2: 125 45% 78%;
    --chart-3: 0 84% 80%;
    --chart-4: 38 96% 79%;
    --chart-5: 200 90% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
